<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SoliditySHA3MinerUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <userSettings>
    <SoliditySHA3MinerUI.Properties.Settings>
      <setting name="DarkTheme" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoLaunch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScaleSize" serializeAs="String">
        <value>1.2</value>
      </setting>
      <setting name="AllowAnimation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckVersionInterval" serializeAs="String">
        <value>3600</value>
      </setting>
      <setting name="CheckConnectionInterval" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="MaximixeOnApplicationLaunch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PreLaunchScript" serializeAs="String">
        <value />
      </setting>
    </SoliditySHA3MinerUI.Properties.Settings>
  </userSettings>
</configuration>