<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:ui="http://schemas.microsoft.com/wix/UIExtension">

  <?define _TargetDir=$(var.SoliditySHA3MinerUI.TargetDir)?>
  
  <Product Id="2666cea1-893a-43d7-813b-7436aee13035"
           Name="SoliditySHA3Miner GUI"
           Version="!(bind.FileVersion.SoliditySHA3MinerUI.exe)"
           Manufacturer="lwYeo@github"
           UpgradeCode="220cd27c-38e1-4360-a113-243b4de4028f"
           Language="1033">

    <Package Platform="x64"
             InstallerVersion="500"
             Compressed="yes"
             InstallScope="perMachine"
             InstallPrivileges="elevated" />

    <UIRef Id="WixUI_Minimal" />

    <Property Id="WIXUI_INSTALLDIR"
              Value="INSTALLFOLDER" />

    <WixVariable Id="WixUILicenseRtf"
                 Value="License.rtf" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes"
                   CompressionLevel="high" />

    <Condition Message="[ProductName] is only supported on Windows 10 64-bit, or higher.">
      <![CDATA[Installed OR (VersionNT64 >= 603)]]>
    </Condition>
    
    <Feature Id="ProductFeature"
             Title="SoliditySHA3Miner GUI"
             Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ProductMenuComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR"
               Name="SourceDir">

      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER"
                   Name="SoliditySHA3MinerUI" />
      </Directory>

      <Directory Id="ProgramMenuFolder" />
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductMenuComponents"
                    Directory="ProgramMenuFolder">

      <Component Id="ApplicationShortcut"
                 Guid="a92fe461-d832-42da-b255-61f9a229c196"
                 Win64="yes" >

        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="SoliditySHA3Miner GUI"
                  Description="Graphical user interface for the command line application SoliditySHA3Miner"
                  Target="[INSTALLFOLDER]SoliditySHA3MinerUI.exe"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>

        <RemoveFolder Id="ApplicationProgramsFolder"
                      On="uninstall"/>

        <RegistryValue Root="HKCU"
                       Key="Software\[Manufacturer]\[ProductName]"
                       Name="Installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

      <Component Id="MahApps.Metro.IconPacks.Modern.dll"
                 Guid="2d1880f2-e3ce-4672-82c3-fa8abe0f1313"
                 Win64="yes">
        <File Id="MahApps.Metro.IconPacks.Modern.dll"
              ProcessorArchitecture="x64"
              Source="$(var._TargetDir)MahApps.Metro.IconPacks.Modern.dll" />
      </Component>

      <Component Id="MahApps.Metro.dll"
                 Guid="b4c63223-1fda-4eac-b4cd-1dfd9a861ae1"
                 Win64="yes">
        <File Id="MahApps.Metro.dll"
              ProcessorArchitecture="x64"
              Source="$(var._TargetDir)MahApps.Metro.dll" />
      </Component>

      <Component Id="Newtonsoft.Json.dll"
                 Guid="6eac6a72-2a5c-477b-be93-c40a5a9d7426"
                 Win64="yes">
        <File Id="Newtonsoft.Json.dll"
              ProcessorArchitecture="x64"
              Source="$(var._TargetDir)Newtonsoft.Json.dll" />
      </Component>

      <Component Id="ControlzEx.dll"
                 Guid="49d59c8b-1684-4236-81e0-8f4aff1c3e75"
                 Win64="yes">
        <File Id="ControlzEx.dll"
              ProcessorArchitecture="x64"
              Source="$(var._TargetDir)ControlzEx.dll" />
      </Component>

      <Component Id="System.Windows.Interactivity.exe"
                 Guid="4b31ff54-70de-409a-a819-2130225d98a2"
                 Win64="yes">
        <File Id="System.Windows.Interactivity.dll"
              ProcessorArchitecture="x64"
              Source="$(var._TargetDir)System.Windows.Interactivity.dll" />
      </Component>

      <Component Id="System.IO.Compression.dll"
                 Guid="36471866-db6b-4f1d-b6bf-2ffaf60ddb57"
                 Win64="yes">
        <File Id="System.IO.Compression.dll"
              ProcessorArchitecture="x64"
              Source="$(var._TargetDir)System.IO.Compression.dll" />
      </Component>

      <Component Id="SoliditySHA3MinerUI.exe"
                 Guid="c7c84d11-ca85-460b-959a-e4da2278f872"
                 Win64="yes">
        <File Id="SoliditySHA3MinerUI.exe"
              ProcessorArchitecture="x64"
              Source="$(var._TargetDir)SoliditySHA3MinerUI.exe" />
      </Component>

      <Component Id="SoliditySHA3MinerUI.exe.config"
                 Guid="13b9d37b-b92a-4739-a501-bae3f9f76795"
                 Win64="yes">
        <File Id="SoliditySHA3MinerUI.exe.config"
              Source="$(var._TargetDir)SoliditySHA3MinerUI.exe.config" />
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>
